* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #87a6a3;
}
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 10px;
}
/* .btn:hover{
 color:black;
} */
.success {
  background-color: #04aa6d;
}
.success:hover {
  background-color: #46a049;
}
.info {
  background-color: #2196f3;
} /* Blue */
.info:hover {
  background: #0b7dda;
}

.warning {
  background-color: #ff9800;
} /* Orange */
.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
} /* Red */
.danger:hover {
  background: #da190b;
}

.default {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.default:hover {
  background: #ddd;
}
