<header>
  <div class="headerTop">
    <div class="contactInfo">
      <div class="cnInfo">
        <i class="bi bi-telephone"></i>
        <span>9844944689</span>
      </div>
      <div class="mailInfo">
        <i class="bi bi-envelope-at"></i>
        <span>yogesh@gmial.com</span>
      </div>
    </div>
    <div class="searchinfo">
      <div class="trakSerch">
        <input type="search" placeholder="Trak Your Shipment" name="" id="" />
        <i class="bi bi-search"></i>
      </div>
      <div class="login">
        <button class="logibtn">
          <i class="person bi bi-person"></i>
          <i class="arrow bi bi-chevron-down"></i>
        </button>
        <ul class="loginList">
          <li><a href="/agent">Agent</a></li>
          <li><a href="/admin">admin</a></li>
          <li><a href="/customer">customer</a></li>
          <li><a href="/customer">billing</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="headerBot">
    <div class="logo">
      
    </div>
    <div class="indexNav">
      <ul>
        <li>
          <a href="/index"> Home</a>
        </li>
        <li>
          <a href="/about"> About</a>
        </li>
        <li>
          <a href="/service">Service</a>
        </li>
        <li>
          <a href="/Contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</header>
