* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.row .login-form {
  padding: 0;
}
.login-form h2 {
  font-size: 25px;
}
.login-form i {
  border: 1px solid rgba(11, 47, 49, 0.993);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.login-form {
  position: relative;
  /* -webkit-box-shadow: -4px 7px 10px -1px rgba(189, 166, 189, 0.65);
  -moz-box-shadow: -4px 7px 10px -1px rgba(189, 166, 189, 0.65);
  box-shadow: -4px 7px 10px -1px rgba(189, 166, 189, 0.65); */
}
.login-form .active-box {
  background-color: #59cad2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#s-notice .fa-check {
  border: none;
}
#l-notice .fa-xmark{
  border: none;
}
