<form action="/cart" method="post">
    <button class="btn" type="submit"> Add To Cart</button>
    <!-- 122_passing_data_with_post_requests -->
    <input type="hidden" name="productId" id="" value="<%= product.id%>">
</form>