* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* background: #87a6a3; */
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 50%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
