* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
#wrapper-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 200px;
  margin: auto;
  padding: 5px;
}
#logo-nav-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  min-height: 50px;
}
#logo {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  /* justify-content: center; */
  padding: 0 0 0 10px;
  align-items: center;
  background-color: lightgray;
}
#nav-div {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10px 0 0;
  flex-basis: 50%;
  /* justify-content: center; */
  align-items: center;
  background-color: lightgray;
}
#header-banner-div {
  background-color: lightgray;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  justify-content: center;
}
#intro-div {
  background-color: lightgray;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  align-items: center;
  justify-content: center;
}
#boxes {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
}
.box-1 {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
#footer {
  background-color: lightgray;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
