* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #87a6a3;
}
#scroll-to-top {
  background: red;
  color: white;
  padding: 0.9rem;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 10px;
  border: none;
  border-radius: 10px;
  display: none;
}
