* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #87a6a3;
}
form {
  border: 1px solid red;
  width: fit-content;
  padding: 3px 10px;
}
table,
th,
td {
  border: 1px solid black;
}
